.min-height{
    min-height:100vh;
}

.bg-dark-theme{
    background-color:hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);
}
.dark-btn{
    background-color:hsl(209, 23%, 22%) !important;
    color: hsl(0, 0%, 100%);
}

.countryResultImage{
    height:100%;
    width:100%;
    max-width:540px;
    /* max-height:348px; */
    min-height:400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

/* - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%) */