*{
    margin: 0;
    padding:0;
}
body{
    background:hsl(0, 0%, 98%)
}

a{
    text-decoration: none !important;
    color:#343a40;
}

a:hover{
    all:unset;
    cursor:pointer;
}

.undecorated-ul li{
    list-style: none;
    margin-bottom:7px;
}

.card-img-top{
    height:150px !important;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover !important;
}

@media (max-width:481px)  {
    body{
        font-size: .9em !important;
    }
}